body{
    font-family: 'Roboto', serif;
}
#AgeAccounts{
    margin: auto;
    position: relative;
    width: auto;
    display: block;
}
#AgeAccounts.text{
    font-size: 8px;

}
#AgeAccounts .form {
    margin: auto;
    position: absolute;
    
}

#AgeAccounts.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


#NumAccounts {
    margin: auto;
    position: relative;
    width: auto;
    height: auto;
}
h1 {
    width: 400px;
    left: 10px;
}

#NumAccounts .axis path,
#NumAccounts .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#NumAccounts .dot {
    stroke: #000;
}





#placeholder1{
    width: 1000px;
    height: 250px;
    background-color: #2fba9b;
}
