body{
    font-family: 'Roboto', serif;
}
#AgeAccounts{
    margin: auto;
    position: relative;
    width: 1050px;
    display: block;



}
#AgeAccounts.text{
    font-size: 8px;

}
#AgeAccounts .form {
    position: absolute;
    right: 10px;
    top: 10px;
}

#AgeAccounts.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


#NumAccounts {
    margin: auto;
    position: relative;
    width: 960px;
    height: 200px;
}

#NumAccounts .axis path,
#NumAccounts .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#NumAccounts .dot {
    stroke: #000;
}





#placeholder1{
    width: 1000px;
    height: 250px;
    background-color: #2fba9b;
}
